@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-family: "Inter", system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
